<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %logger{5} %M %L - %msg%xEx%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <!--<Logger name="org.hibernate" level="OFF"/>-->
        <Logger name="org.hibernate.stat" level="DEBUG"/>
    </Loggers>
</Configuration>